body {
    margin-left: 10px;
    margin-top: 10px;
}

#tooltip {
    position: absolute;
    width: 150px;
    height: 50px;
    pointer-events: none;
    background-color: white; 
    padding-left: 5px;
    border-radius: 5px;
}