body {
    margin-left: 10px;
    margin-top: 10px;
}

#tooltip {
    position: absolute;
    width: 300px;
    height: 30px;
    pointer-events: none;
    /* background-color: white; */
    color: rgb(99, 104, 170);
    font-weight: bold;
    font-size: 19px;
    padding-left: 5px;
    border-radius: 5px;
}